html { 
  background: url(img/header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#flogo {
  height: 22.5px;
  line-height: 40px;
}